

.checkbox-grid li {
    display: block;
    float: left;
    width: 33%;
  }

  input[type="radio"]{
    margin: 0 10px 0 10px;
  }

  input[type="checkbox"]{
    margin: 0 10px 0 10px;
  }

  .navy{
    padding-top: 50px;
  }